{% extends 'base.html.twig' %}

{% block title 'Connexion' %}

{% block body %}
<div class="py-5 container">
    {{ form_start(form_view) }}
    <h2 class="pb-3 text-center">Connexion</h2>

    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    <div class="my-3 auth">
        <div class="col-lg-6 col-md-12 mx-auto">
            {{ form_row(form_view._email) }}
        </div>

        <div class="col-lg-6 col-md-12 mx-auto">
            {{ form_label(form_view._password) }}
            <div class="input-group">
            {{ form_widget(form_view._password) }}
                <span class="input-group-text bi bi-eye" id="toggle-password"></span>
            </div>
        </div>
    </div>

    <div class="text-center">
        Nouveau client ? <a href="{{ path('register') }}">Créer un compte</a>
    </div>

    <div class="d-grid d-lg-block text-center mt-5">
        <button class="btn btn-primary">Se connecter</button>
    </div>
    {{ form_end(form_view) }}
</div>
{% endblock %}
