{% extends 'base.html.twig' %}

{% block title 'Créer un compte' %}

{% block body %}
<div class="py-5 container">
    {{ form_start(form_view) }}
    <h2 class="pb-3 text-center">Créer un compte</h2>
    {% include 'layout/errors.html.twig' with errors %}

    <div class="my-3 auth">
        <div class="col-lg-6 col-md-12 mx-auto">
            {{ form_row(form_view.email) }}
        </div>

        <div class="col-lg-6 col-md-12 mx-auto">
            <div class="mb-3">
                {{ form_label(form_view.password.first) }}
                <div class="input-group">
                    {{ form_widget(form_view.password.first) }}
                    <span class="input-group-text bi bi-eye" id="toggle-password"></span>
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-md-12 mx-auto">
            {{ form_row(form_view.password.second) }}
        </div>
    </div>

    <div class="text-center">
        Déjà client ? <a href="{{ path('login') }}">Se connecter</a>
    </div>

    <div class="d-grid d-lg-block text-center mt-5">
        <button class="btn btn-primary">Créer un compte</button>
    </div>
    {{ form_end(form_view) }}
</div>
{% endblock %}
