{% extends 'base.html.twig' %}

{% block title 'Mon panier' %}

{% block body %}
    <div class="p-5 bg-light text-center bg-wave">
        <h1 class="mt-2">Panier</h1>
    </div>
    <div class="container-fluid mt-2 pb-3">
        {% if products is not empty %}
            <div class="p-3 bg-dark text-end">
                <a class="btn btn-danger empty" href="{{ path('panier.vider') }}">Vider</a>
            </div>
        {% endif %}

        {% for product in products %}
        <div class="bg-dark text-light border p-2 mb-2">
            <div class="d-flex align-items-center">
                {% for image in product.images %}
                    {% if image.active %}
                        <div class="col-2 me-3">
                        <img src="{{ asset('images/')~ product.id ~ '/' ~ image.name }}"
                             class="img-fluid" alt="">
                        </div>
                    {% endif %}
                {% endfor %}

                <div class="col">
                    <a href="{{ path('produit', {'slug':product.slug}) }}"
                    class="text-light">
                        {{ product.title }}
                    </a>
                    <div class="price">
                        {{ product.price }} €
                    </div>
                    {% if product.promotion %}
                        <b class="text-danger">
                            -{{ product.promotion }}%
                        </b>
                    {% endif %}
                </div>

                <div class="col-lg-1 d-flex flex-row align-items-center">
                    <div class="quantity h1">{{ product.quantity }}</div>
                    <div class="btn-group-vertical mx-auto">
                        <a data-url="{{ path('panier.ajout', {id:product.id}) }}"
                        class="btn btn-outline-light bi bi-plus add-product">
                        </a>
                        <a data-url="{{ path('panier.retirer', {id:product.id}) }}"
                        class="btn btn-outline-light bi bi-dash pull-product">
                        </a>
                    </div>
                </div>

                <div class="d-block text-end my-auto">
                    <a data-url="{{ path('panier.supprimer', {id:product.id}) }}" class="btn btn-danger remove-to-cart">
                        Supprimer
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}

        <h2 class="text-center mt-5 empty-cart">Il semblerait que votre panier soit vide</h2>

        <div class="full-cart">
            <div class="h1 text-end total-price">Total : {{ total }} €</div>

            <div class="text-center">
                {{ include('layout/order.html.twig', [form_view], errors) }}
            </div>
        </div>
    </div>
{% endblock %}

