{% extends 'base.html.twig' %}

{% block title 'FakeStore' %}

{% block body %}
    <div class="p-5 bg-light text-center d-flex bg-wave">
        <h1 class="fs-title fw-bold mt-2 mx-auto">FakeStore</h1>
    </div>
    {{ include('layout/product.html.twig', products) }}
{% endblock %}