<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('accueil') }}">FakeStore</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link{% if current_page is defined and current_page == 'products' %} active{% endif %}" href="{{ path('produits') }}">Produits</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link position-relative{% if current_page is defined and current_page == 'cart' %} active{% endif %}" href="{{ path('panier.index') }}">
                        Panier
                        <span class="position-absolute top-80 start-100 translate-middle rounded-pill badge bg-danger cart">
                            <small></small>
                            <span class="visually-hidden">Total panier</span>
                        </span>
                    </a>
                </li>
            </ul>
            {% if is_granted('ROLE_ADMIN') %}
                <div class="dropdown py-2 me-3">
                    <a class="dropdown-toggle text-light" id="admin-menu" role="button" data-bs-toggle="dropdown" aria-expanded="false">Admin</a>
                    <ul class="dropdown-menu dropdown-menu-lg-end dropdown-menu-dark" aria-labelledby="admin-menu">
                        <li>
                            <a class="dropdown-item" href="{{ path('admin.index') }}">Accueil</a>
                        </li>
                        <li><hr class="dropdown-divider"></li>
                        <li class="bg-danger">
                            <a class="dropdown-item" href="{{ path('fs.logout') }}">Déconnexion</a>
                        </li>
                    </ul>
                </div>
            {% elseif is_granted('ROLE_USER') %}
                <div class="dropdown py-2 me-3">
                    <a class="dropdown-toggle text-light" id="customer-menu" role="button" data-bs-toggle="dropdown" aria-expanded="false">Mon compte</a>
                    <ul class="dropdown-menu dropdown-menu-lg-end dropdown-menu-dark" aria-labelledby="customer-menu">
                        <li class="{% if current_page is defined and current_page == 'order' %}d-none{% endif %}">
                            <a class="dropdown-item" href="{{ path('commande') }}">Mes commandes</a>
                        </li>
                        <li class="{% if current_page is defined and current_page == 'address' %}d-none{% endif %}">
                            <a class="dropdown-item" href="{{ path('adresse') }}">Mes adresses</a>
                        </li>
                        <li class="{% if current_page is defined and current_page == 'payment' %}d-none{% endif %}">
                            <a class="dropdown-item" href="{{ path('paiement') }}">Mes paiements</a>
                        </li>
                        <li><hr class="dropdown-divider"></li>
                        <li class="bg-danger">
                            <a class="dropdown-item" href="{{ path('logout') }}">Déconnexion</a>
                        </li>
                    </ul>
                </div>
            {% else %}
                <a class="text-light me-3" href="{{ path('login') }}">Se connecter</a>
            {% endif %}
            <span class="btn text-light d-block d-lg-inline switchColor bi bi-toggle-off"></span>
        </div>
    </div>
</nav>