{% extends 'base.html.twig' %}

{% block title 'Addresse de livraison' %}

{% block body %}
    <div class="p-5 bg-light text-center">
        <h1>Adresse de livraison</h1>
    </div>
    <div class="py-5 container">
        {{ form_start(form_view) }}
        {% include 'layout/errors.html.twig' with errors %}

        {{ include('layout/address.html.twig', [form_view]) }}

        {{ form_rest(form_view) }}

        <div class="d-grid d-lg-block text-end mt-5">
            <button class="btn btn-primary">Enregistrer</button>
        </div>
        {{ form_end(form_view) }}
    </div>
{% endblock %}

