{% extends 'base.html.twig' %}

{% block title 'FakeStore' %}

{% block body %}
    <div class="p-5 bg-dark border-bottom text-center">
        <h1 class="text-success">C'est dans la boîte !</h1>
    </div>

    <div class="container-fluid mb-5">
    {% for order, products in orders %}
    <h2 class="order-title mt-3">Commande n°{{ order + 1 }}</h2>

        <div class="row m-0">
        {% for key, product in products %}
            {% if key is not same as "price" %}
            <div class="bg-dark text-light border p-2 mb-2 col-lg-4 col-md-12">
                <div class="d-flex align-items-center">
                    {% for image in product.images %}
                        {% if image.active %}
                            <div class="col-2 me-3">
                                <img src="{{ asset('images/')~ product.id ~ '/' ~ image.name }}"
                                     class="img-fluid" alt="">
                            </div>
                        {% endif %}
                    {% endfor %}

                    <div class="col">
                        <a href="{{ path('produit', {'slug':product.slug}) }}"
                           class="text-light">
                            {{ product.title }}
                        </a>
                    </div>
                    <div class="col">
                        <div class="quantity">Quantité : {{ product.quantity }}</div>
                    </div>
                </div>
            </div>
            {% endif %}
        {% endfor %}
        </div>
        <div class="h1 text-end bg-success p-1 order-title">{{ products.price }} €</div>
    {% endfor %}
    </div>

{% endblock %}