{% extends 'base.html.twig' %}

{% block title 'Mes paiements' %}

{% block body %}
    <div class="p-5 bg-light text-center">
        <h1>Moyen de paiement</h1>
    </div>
    <div class="py-5 container">
        {{ include('layout/payment.html.twig') }}
    </div>
{% endblock %}

