{% extends 'base.html.twig' %}

{% block title 'admin' %}

{% block body %}
    <div class="pt-5 container">
        <div class="row">
            <div class="col-md-6">
                <div class="h-100 p-5 bg-dark text-light text-center rounded-3">
                    <a class="text-light" href="{{ path('admin.category.index') }}">Gestion des catégories</a>
                </div>
            </div>
            <div class="col-md-6 mt-3 mt-md-0">
                <div class="h-100 p-5 bg-dark text-light text-center rounded-3">
                    <a class="text-light" href="{{ path('admin.product.index') }}">Gestion des produits</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

