{% extends 'base.html.twig' %}

{% block title (slug) ? slug|capitalize : 'Tout les produits' %}

{% block body %}
    <div class="p-5 bg-light text-center bg-wave">
        <h1 class="mt-2">{{ (slug) ? slug|capitalize : 'Tout les produits' }}</h1>
    </div>
    <div class="row m-0 bg-circle">
        <div class="col-lg-2">
            <div class="list-group pt-3 sticky-top categories">
                <div class="list-group-item bg-dark text-light text-center" aria-disabled="true">Catégories</div>
            {% for category in categories %}
                <a  class="list-group-item{{ (slug is same as category.slug)?' active text-light':'' }}" href="{{ path('produits', {'slug': category.slug}) }}">
                    {{ category.title }}
                </a>
            {% endfor %}
                <div class="list-group-item bg-dark" aria-disabled="true">
                    <a class="d-flex justify-content-evenly text-light" href="{{ path('produits') }}">
                        Voir tout <span class="next">> > ></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-10">
        {{ include('layout/product.html.twig', products) }}
        </div>
    </div>
{% endblock %}