{% extends 'base.html.twig' %}

{% block title product.title %}

{% block body %}
    <main>
        <article class="row mx-0 py-5">
            <div class="d-flex justify-content-between">
                <a class="d-flex ms-3" onclick="window.history.back()">
                    <span class="back ms-0 me-3">< < <</span> Retour aux produits
                </a>
                <nav aria-label="breadcrumb">
                    <div class="breadcrumb">
                    {% for category in product.category %}
                        <a href="{{ path('produits', {'slug': category.slug}) }}">
                            <span style="background-color:#{{ category.color }}" class="badge me-1">{{ category.title }}</span>
                        </a>
                    {% endfor %}
                    </div>
                </nav>
            </div>

            <div class="col-sm-6 row">
                {% if product.images|length > 1 %}
                <div class="col-sm-2 d-flex flex-column justify-content-evenly">
                    {% for image in product.images %}
                        {% if not image.active %}
                        <div class="card">
                            <img src="
                            {{ asset('images/')~ product.id ~ '/' ~ image.name }}
                            " class="card-img-top" alt="">
                        </div>
                        {% endif %}
                    {% endfor %}
                </div>
                {% endif %}

                <div class="col">
                    <div class="card">
                        {% for image in product.images %}
                            {% if image.active %}
                            <img src="
                            {{ asset('images/')~ product.id ~ '/' ~ image.name }}
                            " class="card-img-top" alt="">
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <h1>{{ product.title }}</h1>
                <div class="d-flex justify-content-between price">
                    {% if product.promotion %}
                        <span class="h2 fw-bold text-danger">
                            -{{ product.promotion }}%
                        </span>
                        <del class=" me-1 ms-auto">{{ product.price }} €</del>
                        <p class="h1">{{ product.discounted }} €</p>
                    {% else %}
                        <p class="h1 ms-auto">{{ product.price }} €</p>
                    {% endif %}
                </div>
            <section class="py-5">
                <p>{{ product.description }}</p>
            </section>
            <div class="text-center">
                <a class="btn btn-success add-to-cart" data-url="{{ path('panier.ajout', {id:product.id}) }}">Ajouter</a>
            </div>
            </div>
        </article>
    </main>
{% endblock %}

