{% extends 'base.html.twig' %}

{% block title 'Ajouter une catégorie' %}

{% block body %}
    <div class="py-5 container">
        {{ form_start(form_view) }}
        <div class="pb-3 mb-2 border-bottom border-secondary d-flex justify-content-between align-items-center">
            <a class="back" href="{{ path('admin.category.index') }}">< < <</a>
            <h2>Ajouter une catégorie</h2>
        </div>
        {% include 'layout/errors.html.twig' with errors %}
        {{ form_widget(form_view) }}

        <div class="d-grid d-lg-block text-end mt-5">
            <button class="btn btn-primary">Créer</button>
        </div>
        {{ form_end(form_view) }}
    </div>
{% endblock %}


