{% extends 'base.html.twig' %}

{% block title 'Éditer la catégorie' %}

{% block body %}
    <div class="py-5 container">
        {{ form_start(form_view) }}
        <div class="pb-3 mb-2 border-bottom border-secondary d-flex justify-content-between align-items-center">
            <a class="back" href="{{ path('admin.category.index') }}">< < <</a>
            <h2>{{ category.title }}</h2>
        </div>
        {% include 'layout/errors.html.twig' with errors %}

        {{ form_row(form_view.title) }}
        <div class="mb-3">
            {{ form_label(form_view.color) }}
            <div class="input-group">
                <div class="input-group-text border-0" style="background-color: #{{ category.color }}"></div>
                {{ form_widget(form_view.color) }}
            </div>
        </div>

        <div class="d-grid d-lg-block text-end mt-5">
            <button class="btn btn-primary">Éditer</button>
        </div>
        {{ form_end(form_view) }}
    </div>
{% endblock %}


