{% extends 'base.html.twig' %}

{% block title 'Gestion des catégories' %}

{% block body %}
    <div class="p-5 bg-light text-center">
        <h1>Gestion des catégories</h1>
    </div>

    {% for message in app.flashes('danger') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    {% set array,path,token = categories,'admin.category','delete_category' %}
    {{ include('layout/table.html.twig', array,path,token) }}
{% endblock %}