{% extends 'base.html.twig' %}

{% block title 'Connexion Administrateur' %}

{% block body %}
<div class="py-5 container">
    {{ form_start(form_view) }}
    <h2 class="pb-3 text-center">Connexion</h2>

    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {{ form_widget(form_view) }}

    <div class="d-grid d-lg-block text-end mt-5">
        <button class="btn btn-primary">Se connecter</button>
    </div>
    {{ form_end(form_view) }}
</div>
{% endblock %}
