{% extends 'base.html.twig' %}

{% block title 'Éditer le produit' %}

{% block body %}
    <div class="py-5 container">
        {{ form_start(form_view) }}
        <div class="pb-3 mb-2 border-bottom border-secondary d-flex justify-content-between align-items-center">
            <a class="back" href="{{ path('admin.product.index') }}">< < <</a>
            <h2>{{ product.title }}</h2>
        </div>
        {% include 'layout/errors.html.twig' with errors %}
        {{ form_widget(form_view) }}

        <div class="row">
            <h3 class="p-0">Images téléchargées</h3>
            {% for image in product.images %}
                <div class="col-lg-3 col-md-6 mb-3">
                    <div class="card">
                        <img src="{{ asset('images/')~ product.id ~ '/' ~ image.name }}" alt="">
                        <a class="position-absolute top-0 start-0 translate-middle rounded bg-dark text-warning mt-2 ms-2 p-1 pt-0 bi
                        {% if image.active %}
                            bi-star-fill
                        {% else %}
                            bi-star active-image"
                            data-url="{{ path('admin.image.active', {id:image.id}) }}
                        {% endif %}
                        "></a>
                        <a class="position-absolute top-100 start-100 translate-middle rounded bg-danger text-light p-1 bi bi-trash-fill remove-image"
                           data-url="{{ path('admin.image.delete', {product:product.id, id:image.id, token:csrf_token('delete_image')}) }}">
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="d-grid d-lg-block text-end mt-5">
            <button class="btn btn-primary">Éditer</button>
        </div>
        {{ form_end(form_view) }}

    </div>
{% endblock %}


