{% extends 'base.html.twig' %}

{% block title 'Gestion des produits' %}

{% block body %}
    <div class="p-5 bg-light text-center">
        <h1>Gestion des produits</h1>
    </div>

    {% for message in app.flashes('danger') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    {% set array,path,token = products,'admin.product','delete_product' %}
    {{ include('layout/table.html.twig', array,path,token) }}
{% endblock %}