{% block javascripts %}
    <script src="https://vicopo.selfbuild.fr/vicopo.min.js"></script>
{% endblock %}

{{ form_row(form_view.address) }}

<div class="row">
    <div class="col-lg-6 col-md-12">
        {{ form_row(form_view.zip) }}
        <ul id="zip-list" class="list-group mb-3 d-none">
            <li class="list-group-item list-group-item-action"
                data-vicopo="#address_zip"
                data-vicopo-click='{"#address_city": "ville", "#address_zip": "code"}'>
                <strong data-vicopo-code-postal></strong>
                <span data-vicopo-ville></span>
            </li>
        </ul>
    </div>

    <div class="col-lg-6 col-md-12">
        {{ form_row(form_view.city) }}
        <ul id="city-list" class="list-group mb-3 d-none">
            <li class="list-group-item list-group-item-action"
                data-vicopo="#address_city"
                data-vicopo-click='{"#address_city": "ville", "#address_zip": "code"}'>
                <strong data-vicopo-code-postal></strong>
                <span data-vicopo-ville></span>
            </li>
        </ul>
    </div>
</div>