{% set messages = [] %}
{% for k,error in errors %}
    {% if error is not empty %}
        {% set messages = messages|merge([error[0].message]) %}
    {% endif %}
{% endfor %}
{% if messages is not empty %}
<div class="alert alert-danger">
    {% for message in messages %}
        {{ message }}<br>
    {% endfor %}
</div>
{% endif %}