<!-- Modal button -->
<button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#confirmOrder">
    Confirmer
</button>

<div class="modal" id="confirmOrder" tabindex="-1">
    <!-- Scrollable modal -->
    <div class="modal-dialog modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <!-- Modal header -->
            <div class="modal-header">
                <h5 class="modal-title">Confirmer l'achat</h5>
                <a type="button" class="bi bi-x-lg text-light" data-bs-dismiss="modal" aria-label="Close"></a>
            </div>
            <!-- Modal body -->
            <div class="modal-body">

                <div class="accordion accordion-flush" id="informations">
                    <!-- Collapse address -->
                    <div class="accordion-item bg-dark text-light">
                        <h2 class="accordion-header" id="address">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#address-collapse" aria-expanded="true" aria-controls="address-collapse">
                                Adresse
                            </button>
                        </h2>
                        <div id="address-collapse" class="accordion-collapse collapse show" aria-labelledby="address" data-bs-parent="#informations">
                            <div class="accordion-body">
                                {{ form_start(form_view) }}
                                {% include 'layout/errors.html.twig' with errors %}

                                {{ include('layout/address.html.twig', [form_view]) }}

                                {{ form_rest(form_view) }}
                                {{ form_end(form_view) }}
                            </div>
                        </div>
                    </div>
                    <!-- Collapse payment -->
                    <div class="accordion-item bg-dark text-light">
                        <h2 class="accordion-header" id="payment">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#payment-collapse" aria-expanded="false" aria-controls="payment-collapse">
                                Paiement
                            </button>
                        </h2>
                        <div id="payment-collapse" class="accordion-collapse collapse" aria-labelledby="payment" data-bs-parent="#informations">
                            <div class="accordion-body">
                                {{ include('layout/payment.html.twig') }}
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- Modal footer -->
            <div class="modal-footer justify-content-center">
                <a href="{{ path('commander') }}" class="btn btn-success order">
                    Commander
                </a>
            </div>

        </div>
    </div>
</div>
