<form class="row mx-0 justify-content-center">
    <div class="col-lg-3 col-md-12">
        <label for="payment_name">Nom inscrit sur la carte</label>
        <input type="text" id="payment_name" name="payment[name]" required="required" maxlength="255" class="form-control" value="LEMAY MICHAËL">
    </div>

    <div class="col-lg-3 col-md-12">
        <label for="payment_date">Date d'expiration</label>
        <input type="month" id="payment_date" name="payment[date]" required="required" maxlength="255"
               class="form-control" pattern="[0-9]{4}-[0-9]{2}" value="2023-01">
    </div>

    <div class="px-0 row mx-0 justify-content-center mt-3 mb-3">
        <div class="col-lg-3 col-md-12 mt-3 mb-3">
            <label for="payment_card">N° de carte</label>
            <input type="text" id="payment_card" name="payment[card]" required="required"
                   class="form-control" value="**** **** **** ****">
        </div>

        <div class="col-lg-3 col-md-12 mt-3 mb-3">
            <label for="payment_card_security">Code sécurité</label>
            <input type="text" id="payment_card_security" name="payment[card_security]" required="required"
                   class="form-control" value="***">
        </div>
    </div>
</form>