<div class="m-0 py-3 row">
    {% for product in products %}
        <div class="col-lg-3 col-md-6 mb-3">
            <div class="card">
                <a href="{{ path('produit', {slug:product.slug}) }}"
                class="img-gradient">
                    {% for image in product.images %}
                        {% if image.active %}
                        <img src="
                        {{ asset('images/')~ product.id ~ '/' ~ image.name }}
                        " class="card-img-top" alt="">
                        {% endif %}
                    {% endfor %}
                </a>
                <div class="ms-auto me-1">
                    {% for category in product.category %}
                        <a href="{{ path('produits', {'slug': category.slug}) }}">
                            <span style="background-color:#{{ category.color }}" class="badge">{{ category.title }}</span>
                        </a>
                    {% endfor %}
                </div>
                <div class="card-body">
                    <h5 class="card-title mb-3">
                        <a href="{{ path('produit', {slug:product.slug}) }}">
                            {{ product.title }}
                        </a>
                    </h5>
                    <p class="card-text text-truncate">{{ product.description }}</p>
                    <div class="d-flex justify-content-between">
                        {% if product.promotion %}
                            <b class="fs-5 text-danger">
                                -{{ product.promotion }}%
                            </b>
                            <del class=" me-1 ms-auto">{{ product.price }} €</del>
                            <p class="lead">{{ product.discounted }} €</p>
                        {% else %}
                            <p class="lead ms-auto">{{ product.price }} €</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>