<div class="p-3 bg-dark d-flex justify-content-between align-items-center border-bottom border-secondary">
    <a class="text-light back" href="{{ path('admin.index') }}">< < <</a>
    <a class="btn btn-success" href="{{ path(path~'.create') }}">Ajouter</a>
</div>
<table class="table table-dark table-striped">
    <thead>
    <tr>
        <th>Titre</th>
        {% if array.0.createat is defined %}
            <th>Créé le</th>
        {% endif %}
        <th></th>
    </tr>
    </thead>
    {% for value in array %}
        <tr>
            <td>{{ value.title }}</td>
            {% if value.createat is defined %}
                <td>{{ value.createat|format_datetime('full', 'short', locale='fr')|capitalize }}</td>
            {% endif %}
            <td class="text-end">
                <a href="{{ path(path~'.edit', {id:value.id}) }}" class="btn btn-primary">Éditer</a>
                <a href="{{ path(path~'.delete', {id:value.id, token:csrf_token(token)}) }}" class="btn btn-danger">Supprimer</a>
            </td>
        </tr>
    {% endfor %}
</table>